BODY { color:#000; background-color:#9cf }
A:link { color:#C06 }
A:visited { color:#903 }
A:active { color:#f36 }
HR { color:#666 }
H1 { text-align:center; font-size:x-large }
.b { font-family:Arial, helvetica, sans-serif; font-weight:bold }
.g { color:#060 }
.l { font-family:"Comic Sans MS", "Comic Sans", serif;
     color:#060; font-size: x-large }
.z { text-align:center; font-size:smaller }

/*
     FILE ARCHIVED ON 07:38:32 Apr 06, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:16:23 Apr 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.733
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.068
  cdx.remote: 0.074
  esindex: 0.01
  LoadShardBlock: 208.285 (3)
  PetaboxLoader3.datanode: 257.688 (5)
  PetaboxLoader3.resolve: 216.657 (3)
  load_resource: 376.82 (2)
*/